*.[ao]
auto-ccld.sh
auto-gid
auto-int
auto-int8
auto-str
auto-uid
auto_break.c
auto_patrn.c
auto_qmail.c
auto_spawn.c
auto_split.c
auto_uids.c
auto_usera.c
binm1
binm1+df
binm2
binm2+df
binm3
binm3+df
bouncesaying
chkshsgr
chkspawn
compile
condredirect
config
config-fast
datemail
direntry.h
dns.lib
dnscname
dnsfq
dnsip
dnsmxip
dnsptr
elq
except
find-systype
fork.h
forward
hasflock.h
hasmkffo.h
hasnpbg1.h
hassalen.h
hassgact.h
hassgprm.h
hasshsgr.h
haswaitp.h
home
home+df
hostname
idedit
install
install-big
instcheck
ipmeprint
load
maildir2mbox
maildirmake
maildirwatch
mailsubj
make-compile
make-load
make-makelib
makelib
netqmail.status
pinq
predate
preline
proc
proc+df
qail
qbiff
qmail-clean
qmail-getpw
qmail-inject
qmail-local
qmail-lspawn
qmail-newmrh
qmail-newu
qmail-pop3d
qmail-popup
qmail-pw2u
qmail-qmqpc
qmail-qmqpd
qmail-qmtpd
qmail-qread
qmail-qstat
qmail-queue
qmail-remote
qmail-rspawn
qmail-send
qmail-showctl
qmail-smtpd
qmail-start
qmail-tcpok
qmail-tcpto
qmail-upq
qreceipt
qsmhook
select.h
sendmail
socket.lib
splogger
sums
syslog.lib
systype
tcp-env
uint32.h
